/* CSS Project 
Designing for Web Standards 1 C201409 Term
Instructor Chris Vincze
Created by Phirom Yim */




	

/* Heading */
	
h1 {
	font-family: 'Cabin Sketch', cursive;
	background-color: #882555;
	color: #ffffff;
	font-size: 5em;
	}
	
/* Content */

body {
	background-color: rgba(141, 114, 92, 0.1);
	margin: 20px 20px 20px 20px;
	padding: 25px 50px 25px 50px;
	}	
	
/* DIV elements */	
p {
	font-family: 'Cabin Sketch', cursive;
	background-color: #882555;
	color: #ffffff;
	font-size: 2em;
	}
#content {
	font-family: Marvel, sans-serif;
	color: #3A1506;
	font size: .75em;
	}
		
#glossary { 
	height: auto; 
	width: auto; 
	background-color: hsla(309, 100%, 92%, 0.3);
	}
		

	
#subheader {
	font-family: Marvel, sans-serif;
	color: #000000;
	font-size: 1em;
	}
	
h2 {
	font-family: Marvel, sans-serif;
	color: #3A1506;
	font-style: italic;
	font-size: 2em
	}

a:link {
	color: magenta;
	}
a:visted {
	color: yellow;
	}
a:hover {
	color: turquoise;
	}
a:active {
	color: #3A1506;







